@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("css", required: false)
    @RenderSection("Scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
