
@model IEnumerable<descent_remote_final.Models.User>

@{
    ViewData["Title"] = "User Selection";
}

<div class="select-user-container">
    <img class="descent-logo" src="~/images/Descent-logo.png"/>
    <h1>SELECT YOUR USER</h1>
    <div class="list-group">
        @foreach (var item in Model)
        {
            <div class="select-link">
                @Html.ActionLink(item.Name, "Character", new { username = item.Name }, new { @class = "list-group-item list-group-item-action" })
            </div>
        }
    </div>
</div>